html{
  font-family: 'Montserrat', sans-serif;
}

.painel {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #888888;
  box-shadow: 1px 1px #888888;
  padding: 5px;
  margin-bottom: 5px;
  margin: 5px;
}

.jogadores {
  display: flex;
  justify-content: space-around;
}

.barra {
  height: 15px;
  width: 200px;
  border: 1px solid #6c757d;
}

.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.ataque-jogador {
  background: #dc3545;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  opacity: 0.85;
}

.ataque-monstro {
  background: #0d6efd;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  opacity: 0.85;
}

.resultado {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  border-radius: 3px;
  height: 23px;
}

.ataque {
  background: #dc3545;
  color: white;
}

.ataque-especial {
  background: #ffc107;
}

.curar {
  background: #198754;
  color: white;
}

.desistir {
  background: #f8f9fa;
}

.iniciar-jogo {
  background: #0d6efd;
  color: white;
}
