<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="estilo.css" />
  </head>
  <body>
    <div class="painel" id="matador-monstros">
      <div class="card jogadores">
        <div class="jogador">
          <span>Jogador</span>
          <div class="barra">
            <div :style="backgroundJogador"></div>
          </div>
          <div>16%</div>
        </div>
        <div class="jogador">
          <span>Monstro</span>
          <div class="barra">
            <div :style="backgroundMonstro"></div>
          </div>
          <div>16%</div>
        </div>
      </div>
      <div v-if="modo == 'resultado'" class="card">Resultado</div>
      <div v-if="modo == 'jogando'" class="card botoes">
        <button @click="atacar">Ataque</button>
        <button>Ataque Especial</button>
        <button>Curar</button>
        <button>Desistir</button>
      </div>
      <div v-if="modo == 'inicio'" class="card botoes">
        <button @click="iniciarJogo">Iniciar Jogo</button>
      </div>
      <div class="card" v-if="historicoAtaques.length > 0">
        <div
          v-for="ataque in historicoAtaques"
          :class="obterClasse(ataque.atacante)"
        >
          {{ataque.mensagem}}
        </div>
      </div>
    </div>
  </body>
</html>

<script src="src.js"></script>
