<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="painel" id="matador-monstros">
      <div class="card jogadores">
        <div class="jogador">
          <span>Jogador</span>
          <div class="barra">
            <div :style="backgroundJogador"></div>
          </div>
          <div>{{vidaJogador}}%</div>
        </div>
        <div class="jogador">
          <span>Monstro</span>
          <div class="barra">
            <div :style="backgroundMonstro"></div>
          </div>
          <div>{{vidaMonstro}}%</div>
        </div>
      </div>
      <div
        v-if="modo == 'resultado'"
        class="card resultado"
        :style="estiloResultado"
      >
        {{mensagemResultado}}
      </div>
      <div v-if="modo == 'resultado'" class="card resultado">
        <button @click="iniciarJogo" class="btn iniciar-jogo">
          Iniciar Novo Jogo
        </button>
      </div>
      <div v-if="modo == 'jogando'" class="card botoes">
        <button @click="atacar" class="btn ataque">Ataque</button>
        <button @click="atacarEspecial" class="btn ataque-especial">
          Ataque Especial
        </button>
        <button @click="curar" class="btn curar">Curar</button>
        <button @click="desistir" class="btn desistir">Desistir</button>
      </div>
      <div v-if="modo == 'inicio'" class="card botoes">
        <button @click="iniciarJogo" class="btn iniciar-jogo">
          Iniciar Jogo
        </button>
      </div>
      <div class="card" v-if="historicoAtaques.length > 0">
        <div
          v-for="ataque in historicoAtaques"
          :class="obterClasse(ataque.atacante)"
        >
          {{ataque.mensagem}}
        </div>
      </div>
    </div>
  </body>
</html>

<script src="src.js"></script>
